@tailwind base;
@tailwind utilities;
@tailwind components;

html, body, #root {
  width: 100vw;
  height: 100vh;
  background: rgb(0, 195, 255);
  background: linear-gradient(220deg, #00c3ff 10%, #910cca 90%) fixed;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient-bg {
  background: rgb(0, 195, 255);
  background: linear-gradient(220deg, #00c8ff 10%, #b300ff 90%) fixed;
}

button.gradient-bg:hover {
  filter: brightness(1.5);
}

.scroll::-webkit-scrollbar {
  width: 5px;
}

.scroll::-webkit-scrollbar-track {
  background: linear-gradient(220deg, #00c8ff 10%, #b300ff 90%) fixed;
}

.scroll::-webkit-scrollbar-thumb {
  background: #00000090;
}

.personal-shadow {
  box-shadow: 0 0 10px 5px #00000015;
}

.list {
  height: calc(100vh - 64px - 8px) !important;
}


@media(max-width: 1220px) {
  .personal-container {
    padding: 140px 20px;
  }

  .list {
    max-width: 48% !important;
  }

  .list:last-of-type {
    max-width: 100% !important;
  }
}


@media(max-width: 1045px) {
  .list {
    max-width: 47% !important;
  }
}

@media(max-width: 800px) {
  .list {
    max-width: 100% !important;
  }
}

@media(max-width: 500px) {
  .personal-container {
    padding: 140px 0;
  }
}