@tailwind base;
@tailwind utilities;
@tailwind components;

html, body, #root {
  width: 100vw;
  height: 100vh;
  background: rgb(0, 195, 255);
  background: linear-gradient(220deg, #00c3ff 10%, #910cca 90%) fixed;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient {
  background: rgb(0, 195, 255);
  background: linear-gradient(220deg, #00c8ff50 10%, #b300ff50 90%) fixed;
}

.gradient-header {
  background: rgb(0, 195, 255);
  background: linear-gradient(220deg, #00c8ff 10%, #b300ff 90%) fixed;
}